<style>
    body {
        background-image: url("../img/bg/bg-account.gif");
    }
    @media only screen and (max-width: 570px) {
        .view-panel {
            height: 100vh !important;
            padding-top: 20vh !important;
        }

        main {
            padding-top: 0px !important;
        }
    }
</style>
<div class="container" ng-init="submitted=false">


    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">


        <!--Grid row-->
        <div class="row d-flex justify-content-center">

            <!--Grid column-->
            <div class="col-md-10 col-lg-8 col-xl-6 view-panel p-5 rounded z-depth-1">

                <!-- Default form login -->
                <form class="text-center" name="resetPassword" ng-submit="resetPass(resetPassword.$invalid)">

                    <p class="h4 mb-4 text-white">Lấy lại mật khẩu</p>

                    <p class="text-white">Hãy nhập email đã đăng kí với hệ thống</p>

                    <!-- Email -->
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Email" ng-model="reset.email" ng-required="true">
                        <small>
                            &nbsp;
                            <span class="help-inline red-text font-weight-bold m-0"
                                ng-show="submitted&&resetPassword.email.$error.required">
                                Hãy nhập email đã đăng kí
                            </span>
                            <span class="help-inline red-text font-weight-bold m-0"
                                ng-show="submitted&&resetPassword.email.$error.email">
                                Email không hợp lệ
                            </span>
                        </small>
                    </div>

                    <!-- Submit button -->
                    <button class="btn btn-info btn-block my-4" type="submit" ng-click="submitted=true">Gửi</button>

                    <!-- Register -->
                    <p class="text-white">Chưa có tài khoản?
                        <a href="#!/register">Đăng kí</a>
                    </p>

                    <!-- Social login -->
                    <p class="text-white">Hoặc đăng nhập bằng:</p>
                    <a ng-click="googleSingin()" class="icons-sm gplus-ic"><i class="fab fa-google fa-2x"> </i></a>

                </form>
                <!-- Default form login -->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->


    </section>
    <!--Section: Content-->


</div>