<style>
    body {
        background-image: url("../img/bg/bg-account-log.gif");
    }

    @media only screen and (max-width: 570px) {
        .view-panel {
            min-height: 100vh;
            padding-top: 15vh !important;
        }

    }
</style>
<div class="container">


    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">


        <!--Grid row-->
        <div class="row d-flex justify-content-center">

            <!--Grid column-->
            <div class="col-sm-10 col-lg-8 col-xl-6 view-panel p-5 rounded z-depth-1">

                <!-- Default form login -->
                <form class="text-center" name="changePass" ng-submit="changePassword()">

                    <p class="h4 mb-4 text-white">Đổi mật khẩu</p>

                    <!-- Old password -->
                    <div class="form-group mb-2">
                        <input type="password" name="oldp" id="" class="form-control" placeholder="Mật khẩu cũ"
                            ng-model="changePassword.oldPassword" ng-required="true">
                        <small>
                            &nbsp;
                            <span class="help-inline red-text font-weight-bold"
                                ng-show="changePass.$submitted&&changePass.oldp.$error.required">
                                Hãy nhập mật khẩu hiện tại
                            </span>
                        </small>
                    </div>

                    <!-- New password -->
                    <div class="form-group mb-2">
                        <input type="password" name="newp" class="form-control" placeholder="Mật khẩu mới"
                            ng-model="changePassword.newPassword" ng-required="true">
                        <small>
                            &nbsp;
                            <span class="help-inline red-text font-weight-bold"
                                ng-show="changePass.$submitted&&changePass.newp.$error.required">
                                Hãy nhập mật khẩu mới
                            </span>
                            <span class="help-inline red-text font-weight-bold m-0"
                                ng-show="changePass.$submitted&&changePassword.newPassword.length<7">
                                Mật khẩu không được ngắn hơn 7 kí tự
                            </span>
                        </small>
                    </div>


                    <!-- Confirm password -->
                    <div class="form-group">
                        <input type="password" name="cnewp" class="form-control" placeholder="Xác nhận mật khẩu mới"
                            ng-model="changePassword.cNewPassword" ng-required="true">
                        <small>
                            &nbsp;
                            <span class="help-inline red-text font-weight-bold"
                                ng-show="changePass.$submitted&&changePass.cnewp.$error.required">
                                Hãy nhập lại mật khẩu mới
                            </span>
                            <span class="help-inline red-text font-weight-bold"
                                ng-show="changePass.$submitted&&(changePassword.cNewPassword!=changePassword.newPassword)">
                                Mật khẩu không trùng
                            </span>
                        </small>
                    </div>


                    <!-- Sign in button -->
                    <button class="btn btn-info btn-block my-4" type="submit" ng-click="submitted=true">Gửi</button>

                </form>
                <!-- Default form login -->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->


    </section>
    <!--Section: Content-->


</div>